<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>BasicServlet</servlet-name>
        <servlet-class>com.jecihjoy.APlusDemo.sevlets.BasicServlet</servlet-class>
        
        <init-param>
            <param-name>web-service-url</param-name>
            <param-value>https://www.weatherservice.com/</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/aplus-servlet</url-pattern>
    </servlet-mapping>

    <!-- Context Params -->
    <context-param>
        <param-name>databaseUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/aplus</param-value>
    </context-param>
    
</web-app>